* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fjalla+One&family=Poppins:wght@200&display=swap');

:root {
    --header-bg-color: #e5bfff;
    --line-bg-color: #bfffbf;
    --body-bg-color: #ffdcbf;
    --footer-bg-color: rgb(221, 221, 221);
    
}

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    background-color: var(--header-bg-color);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.line
{
    padding: 20px 0;
    background-color: var(--line-bg-color);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

form
{
    padding: 40px;
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

footer {
    padding: 20px 0;
    background-color: var(--footer-bg-color);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
